@import "~antd/dist/antd.css";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root,
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
ol,
ul {
  list-style: none;
}
